body{
    background-color: burlywood;
}
h1{
    color: black;
    font: size 48px;
    text-align: center;
}

    .cabecalho {
        background-color: burlywood;
        color: black;
        font-size: 30px;
        display:flex;
        justify-content:center;}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
}

    
.cabecalho-imagem {
    text-align: end;
    width: 55%;
    
}

p{
    color: rgb(82, 52, 16);
    font-size: 35px;
    text-align:center;
    justify-content: space-between;
}
